body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  border-style: none;
  cursor: pointer;
}

.logo{
  font-style: italic;
  color: #D6000D;
  font-weight: bold;
  font-size: 34px;
  cursor: pointer;
}

.logo::after {
  content: ".";
  color: #000;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*

MENU

*/
.header__menu {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.item {
  display: flex;
  gap: 7px;
}

.item__button {
  font-size: 18px;
  background-color: transparent;
  padding: 7px 15px;
}

.item__button:hover {
  color: #0d0d0d;
}

.item__button--highlighted{
  background-color: #D6000D;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 40px;
  border-radius: 10px;
  transition: all .2s;
}

.item__button--highlighted:hover {
  background-color: #cc0d1a;
}

/*

HEADER SECTION

*/

.header__section {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 45px;
  
}

.header__section .section__img {
  width: 380px;
}

.section-aside__text {
  font-size: 24px;
  font-weight: bold;
}

.section-aside__text--highlighted {
  color: #D6000D;
  font-weight: bold;
  font-size: 64px;
}

.section-aside__button{
  background-color: #D6000D;
  margin-top: 18px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  padding: 8px 40px;
  border-radius: 10px;
  transition: all .2s;
}

/*

 BENEFITS SECTION

*/

.benefits-section {
  display: flex;
  gap: 46px;
  align-items: center;
  justify-content: center;
}

.benefits-section__coding-img {
  width: 350px;
  position: relative;
  right: 78px;
  margin-bottom: 72px;
}

.benefits-section__list{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 78px;
}

.list {
  display: flex;
  gap: 16px;
  justify-content: left;
  align-items: center;
} 

.list__icon {
  display: flex;
  justify-content: center;
  background: #D6000D;
  padding: 5px;
  border-radius: 100%;
  color: #fff;
}

/*

 form SECTION

*/

.contact-form{
  margin-top: 28px;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 8px;
  grid-template-areas: 
    "l l"
    "i b"; 
}

.contact-form__label {
  grid-area: l;
  align-items: end;
  display: flex;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 18px;
}

.contact-form__input {
  grid-area: i;
  border-style: none;
  outline: none;
  font-size: 16px;
  padding: 10px 8px;
  border-radius: 10px;
  background: #dcdcdc;
}

.contact__button {
  display: inline-block;
  background-color: #D6000D;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 8px;
  border-radius: 10px;
  transition: all .2s;
  grid-area: b;
}

.contact__button:hover {
  background-color: #cc0d1a;
}