:root{
  font-size: 16px;
  --main-color: #D6000D;
}

body, *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

}

menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.options > button{
  cursor: pointer;
}

.btn {
  border-style: none;
  cursor: pointer;
  background: var(--main-color);
  color: #fff;
  padding: .8rem 3.8rem;
  border-radius: 15px;
  font-weight: 400;
}

.logo{
  display: inline-block;
  color: var(--main-color);
  font-weight: 500;
  font-style: italic;
}

.logo::after{
  content: ".";
  color: black;
}

.options > button {
  border-style: none;
  background-color: transparent;
  color: rgb(29, 29, 29)
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section > p {
  font-weight: 700;
}

.destaque{
  color: var(--main-color);
  font-weight: 700;
}

@media (max-width: 375px) {
  .logo{
    margin-top: 2rem;
    font-size: 2.9rem;
  }
  menu {
    flex-direction: column;
  }

  .btn {
    font-size: 1rem;
    margin-top: 1.5rem;
  }
  
  .options {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 1.6rem;
  }

  .options > button {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .image-header{
    margin: 2rem 0;
  }

  .image-header img {
    width: 250px;
    height: 250px;
  }

  .destaque{
    font-size: 2.7rem;
  }
}