body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  border-style: none;
  cursor: pointer;
}

.logo{
  font-style: italic;
  color: #D6000D;
  font-weight: bold;
  font-size: 34px;
  cursor: pointer;
}

.logo::after {
  content: ".";
  color: #000;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*

MENU

*/
.header__menu {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.item {
  display: flex;
  gap: 7px;
}

.item__button {
  font-size: 18px;
  background-color: transparent;
  padding: 7px 15px;
}

.item__button:hover {
  color: #0d0d0d;
}

.item__button--highlighted{
  background-color: #D6000D;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 40px;
  border-radius: 10px;
  transition: all .2s;
}

.item__button--highlighted:hover {
  background-color: #cc0d1a;
}

/*

HEADER SECTION

*/

.header__section {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 45px;
  
}

.header__section .section__img {
  width: 380px;
}

.section-aside__text {
  font-size: 24px;
  font-weight: bold;
}

.section-aside__text--highlighted {
  color: #D6000D;
  font-weight: bold;
  font-size: 64px;
}

.section-aside__button{
  background-color: #D6000D;
  margin-top: 18px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  padding: 8px 40px;
  border-radius: 10px;
  transition: all .2s;
}

/*

 BENEFITS SECTION

*/

.benefits-section {
  display: flex;
  gap: 46px;
  align-items: center;
  justify-content: center;
}

.benefits-section__coding-img {
  width: 350px;
  position: relative;
  right: 78px;
  margin-bottom: 72px;
}

.benefits-section__list{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 78px;
}

.list {
  display: flex;
  gap: 16px;
  justify-content: left;
  align-items: center;
} 

.list__icon {
  display: flex;
  justify-content: center;
  background: #D6000D;
  padding: 5px;
  border-radius: 100%;
  color: #fff;
}

/*

 form SECTION

*/

.contact-form{
  margin-top: 28px;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 8px;
  grid-template-areas: 
    "l l"
    "i b"; 
}

.contact-form__label {
  grid-area: l;
  align-items: end;
  display: flex;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 18px;
}

.contact-form__input {
  grid-area: i;
  border-style: none;
  outline: none;
  font-size: 16px;
  padding: 10px 8px;
  border-radius: 10px;
  background: #dcdcdc;
}

.contact__button {
  display: inline-block;
  background-color: #D6000D;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 8px;
  border-radius: 10px;
  transition: all .2s;
  grid-area: b;
}

.contact__button:hover {
  background-color: #cc0d1a;
}

/*

  TESTIMONIES 

*/

.testimonies-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin: 70px 0;
  gap: 24px;
}

.testimonies {
  display: inline-flex;
  gap: 8px;
  background-color: #dedede;
  align-items: flex-start;
  padding: 20px;
  border-radius: 10px;
  height: 151px;
}

.testimonies__img {
  width: 70px;
  height: 70px;
  background-color: #D6000D;
  border-radius: 100%;
}

.testimonies__text {
  width: 400px;
}

.text__message {
  text-align: justify;
}

.text__author {
  font-size: 22px;
  font-weight: 500;
  margin-top: 8px;
}

.text__author-description {
  font-weight: bold;
}

/* 

  FOOTER AREA

*/

.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 32px;
  padding-bottom: 20px;
}

.footer__logo {
  font-style: italic;
  font-weight: bold;
  font-size: 34px;
  cursor: pointer;
  margin-bottom: 16px;
}

.about__title {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 16px; 
}

.about__subtitle {
  width: 200px;
}

.contact__title {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 16px;
}

.contact__adress {
  margin-bottom: 16px;
}

.contact__number {
  margin-bottom: 18px;
}

.contact__email {
  cursor: pointer;
  text-decoration: underline; 
}

.midia__title {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 16px;
}

.midia__icons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.midia__icons > i {
  color: #D6000D;
  cursor: pointer;
  font-size: 36px;
}

/* 

RESPONSIVENESSA AREA

*/

@media (max-width: 375px) {
  .testimonies {
    height: auto;
  }
}

@media (max-width: 414px) {
  .testimonies__text {
    width: 220px;
  }

  .header__menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .text__author {
    font-size: 20px;
  }

  .testimonies__img {
    width: 50px;
    height: 50px;
  }

  .footer {
    flex-direction: column;
    gap: 16px;
  }

  .footer__logo-area {
    margin: 0 auto;
  }

  .footer__logo {
    text-align: center;
    margin: 0;
  }

  .footer__logo-subtitle {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .footer__about, .footer__contact, .footer__midia {
    margin-left: 37px;
  }

  .about__title, .contact__title, .contact__adress, .contact__number {
    margin-bottom: 0;
  }

  .midia__icons {
    justify-content: start;
    gap: 25px;
  }

  .midia__icons > i {
    font-size: 50px;
  }
}

@media (max-width: 600px) {
  .item__button--highlighted{
    display: none;
  }

  .header__section{
    flex-direction: column;
  }

  .section__img {
    width: 300px;
  }

  .section__aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .section__aside > p {
    text-align: center;
  }

  .section-aside__button {
    width: 90%;
    margin: 0 auto;
    margin-top: 18px; 
  }
}

@media (max-width: 800px) {
  .testimonies-area {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 844px) {
  .section-aside__text {
    font-size: 20px;
  }

  .section-aside__text--highlighted {
    font-size: 48px;
  }
  
  .benefits-section__coding-img {
    position: inherit;
    width: 280px;
  }

  .benefits-section{
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }

  .benefits-section__coding-img {
    margin-bottom: 0;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .benefits-section__list {
    margin-left: 0;
  }

  .list {
    margin-left: 20px;
  }

  .contact-form__input {
    width: 95%;
  }

  .contact__button {
    width: 95%;
  }
}